{% load static %}

<div class="wrapper p-3 pt-0 d-flex align-items-center">
  <div class="col-md-7 col-lg-8 text-center text-md-start">
    <div class="p-3">
      <p>@2023 Copyright. Todos los derechos Reservados</p>
    </div>
  </div>

  <!-- Redes Sociales -->
  <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
    <!-- Facebook -->
    <a class="btn btn-outline-light btn-floating m-1 text-white" role="button"><i class="fab fa-facebook-f"></i></a>

    <!-- Gmail -->
    <a class="btn btn-outline-light btn-floating m-1 text-white" role="button"><i class="fab fa-google"></i></a>

    <!-- Instagram -->
    <a class="btn btn-outline-light btn-floating m-1 text-white" role="button"><i class="fab fa-instagram"></i></a>
  </div>
</div>