{% load static %}
{% load planeadores_mdp_extras %}

<nav id="navbar" class="navbar navbar-expand-lg" data-bs-theme="dark">
  <div id="navbar-container" class="container-fluid">

    <a class="navbar-brand" href="{% url 'home' %}">
      <img class="logo" src="{% static 'img/logoclub.png' %}" alt="...">
    </a>

    <button id="button-toggler" class="navbar-toggler" data-collapsed="true" type="button" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar-collapse" class="navbar-collapse collapse">

      <ul class="navbar-nav hd-position-center">
        <li class="nav-item">
          <a class="hd-nav-link nav-link {% link_activate 'home' %}" href="{% url 'home' %}">
            Home
          </a>
        </li>

        <li class="nav-item dropdown">
          <button id="button-dropdown" class="hd-nav-link nav-link dropdown-toggle" data-collapsed="true" type="button">
            Aeronaves
          </button>
          <div id="dropdown-collapse" class="dropdown-collapse collapse">
            <ul class="dropdown-menu position-relative show">
              <li><a class="dropdown-item" href="{% url 'planeadores' %}">Planeadores</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'remolcadores' %}">Remolcadores</a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a class="hd-nav-link nav-link {% link_activate 'institucion' %}" href="{% url 'institucion' %}">
            Institucion
          </a>
        </li>

        <li class="nav-item">
          <a class="hd-nav-link nav-link {% link_activate 'contacto' %}" href="{% url 'contacto' %}">
            Contacto
          </a>
        </li>

      </ul>

      <ul class="navbar-nav me-3 hd-position-right">
        {% if not request.user.is_authenticated %}
          <li class="nav-item p-1">
            <a class="w-100 btn btn-outline-light border border-white" href="{% url 'login' %}">
              Acceder
            </a>
          </li>

          <li class="nav-item p-1">
            <a class="w-100 btn btn-outline-light border border-white" href="{% url 'singup' %}">
              Registrarse
            </a>
          </li>
        {% else %}
          <li class="nav-item p-1">
            <a class="w-100 btn btn-outline-light border border-white" href="{% url 'usuario' %}">
              Principal
            </a>
          </li>
          <li class="nav-item p-1">
            <a class="w-100 btn btn-outline-light border border-white" href="{% url 'logout' %}">
              Salir
            </a>
          </li>
        {% endif %}
      </ul>

    </div>
  </div>
</nav>
