{% extends 'ss_base.html' %}

{% block socio %}
  <h2>Detalle Actividad</h2>

  <div class="card">
    <div class="flex-fill p-0">
      <div class="ac-detalle">
        <h5 class="ac-detalle-nombre">Plan de vuelo</h5>
        <p class="ac-detalle-descripcion">{{ object.plan_de_vuelo.denominacion }}</p>
      </div>

      <div class="ac-detalle">
        <h5 class="ac-detalle-nombre">Fecha</h5>
        <p class="ac-detalle-descripcion">{{ object.plan_de_vuelo.fecha }}</p>
      </div>
      <hr class="mt-0 mb-1">

      <div class="ac-detalle">
        <h5 class="ac-detalle-nombre">Instructor</h5>
        <p class="ac-detalle-descripcion">{{ object.plan_de_vuelo.instructor.last_name }}, {{ object.plan_de_vuelo.instructor.first_name }}</p>
      </div>
      <hr class="mt-0 mb-1">

      <div class="ac-detalle">
        <h5 class="ac-detalle-nombre">Piloto</h5>
        <p class="ac-detalle-descripcion">{{ object.piloto.last_name }}, {{ object.piloto.first_name }}</p>
      </div>
      <hr class="mt-0 mb-1">

      <div class="ac-detalle">
        <h5 class="ac-detalle-nombre">Remolcador</h5>
        <p class="ac-detalle-descripcion">{{ object.remolcador.nombre }}</p>
      </div>

      <div class="ac-detalle">
        <h5 class="ac-detalle-nombre">Despegue</h5>
        <p class="ac-detalle-descripcion">{{ object.remolque_despegue }}</p>
      </div>

      <div class="ac-detalle">
        <h5 class="ac-detalle-nombre">Corte</h5>
        <p class="ac-detalle-descripcion">{{ object.remolque_corte }}</p>
      </div>
      <hr class="mt-0 mb-1">

      <div class="ac-detalle">
        <h5 class="ac-detalle-nombre">Planeador</h5>
        <p class="ac-detalle-descripcion">{{ object.planeador.nombre }}</p>
      </div>

      <div class="ac-detalle">
        <h5 class="ac-detalle-nombre">Aterrizaje</h5>
        <p class="ac-detalle-descripcion">{{ object.planeador_aterrizaje }}</p>
      </div>

      <div class="ac-detalle">
        <h5 class="ac-detalle-nombre">Vuelo Librado</h5>
        <p class="ac-detalle-descripcion">{{ object.planeador_vuelo_librado }}</p>
      </div>

    </div>
  </div>
{% endblock %}