{% extends 'ss_base.html' %}
{% load planeadores_mdp_extras %}
{% load static %}

{% block extra_css %}{% render_css_defer form %}{% endblock %}
{% block script %}{% render_js_defer form %}{% endblock %}

{% block socio %}
  <h1>Lista de actividades</h1>

  <form method="GET" novalidate>
    {% for field in form %}
      <div class="mb-2">
        <label for="{{ field.id_for_label }}" class="form-label">
          <strong class="m-0 p-0">{{field.label}}</strong>
        </label>

        {{field}}
      </div>
    {% endfor %}

    <div class="d-grid gap-2 d-flex justify-content-end">
      <a class="btn btn-outline-secondary" href="{{ request.path }}">Borrar</a>
      <input class="btn btn-outline-secondary" type="submit" value="Buscar">
    </div>
  </form>

  <hr class="my-3 mx-0">

  <table class="table table-striped mb-auto">
    <tr>
      <th>Instructor</th>
      <th>Piloto</th>
      <th>Remolcador</th>
      <th colspan="3">Planeador</th>
    </tr>
    {% for actividad in actividades %}
      <tr
        class="user-select-none row-table"
        style="cursor: pointer"
        onclick="location.href = `{% url 'actividad' actividad.id %}`"
      >
        <td>{{actividad.plan_de_vuelo.instructor.first_name}}</td>
        <td>{{actividad.piloto.first_name}}</td>
        <td>{{actividad.remolcador.nombre}}</td>
        <td>{{actividad.planeador.nombre}}</td>

        {% if perms.usuarios.change_actividad or perms.usuarios.delete_actividad %}
          <td class="d-flex flex-row justify-content-center">
            {% if perms.usuarios.change_actividad %}
              <a href="{% url 'modi-actividad' actividad.id %}">
                <i class="btn btn-warning text-white btn-table mx-2 far fa-edit"></i>
              </a>
            {% endif %}
            {% if perms.usuarios.delete_actividad %}
              <a href="{% url 'baja-actividad' actividad.id %}">
                <i class="btn btn-danger text-white btn-table mx-2 far fa-trash-alt"></i>
              </a>
            {% endif %}
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>

  {% include "paginacion.html" %}

{% endblock %}