{% extends 'ss_base.html' %}
{% load planeadores_mdp_extras %}
{% load static %}

{% block extra_css %}{% render_css_defer form %}{% endblock %}
{% block extra_script %}{% render_js_defer form %}{% endblock %}

{% block socio %}
  <h1>Lista de actividades</h1>

  <form method="GET" novalidate>
    {% if perms.usuarios.view_actividad and request|has_group:'Instructores' %}
      <div id="panel" class="ac-instructor">
        {% for field in form %}
          {% include "componentes/input-form.html" with field=field %}
        {% endfor %}
      </div>
    {% endif %}

    {% if perms.usuarios.view_actividad and request|has_group:'Pilotos' %}
      <div id="panel" class="ac-piloto">
        {% for field in form %}
          {% include "componentes/input-form.html" with field=field %}
        {% endfor %}
      </div>
    {% endif %}

    {% include "componentes/btn-search.html" with field=field %}
  </form>

  <hr class="my-3 mx-0">

  <table class="table table-striped mb-auto">
    <thead>
      <tr>
        <th>Id</th>
        <th>Piloto</th>
        <th>plan de vuelo</th>
        <th colspan="2">Fecha</th>
      </tr>
    </thead>

    <tbody>
      {% for actividad in actividades %}
        <tr class="row-table" onclick="location.href = `{% url 'actividad' actividad.id %}`">
          <td>{{actividad.pk}}</td>
          <td>{{actividad.piloto.first_name}}</td>
          <td>{{actividad.plan_de_vuelo.denominacion}}</td>
          <td>{{actividad.plan_de_vuelo.fecha}}</td>

          {% if perms.usuarios.change_actividad or perms.usuarios.delete_actividad %}
            <td class="d-flex flex-row justify-content-center">
              {% if perms.usuarios.change_actividad %}
                <a href="{% url 'modi-actividad' actividad.id %}">
                  <i class="btn btn-warning text-white btn-table mx-2 far fa-edit"></i>
                </a>
              {% endif %}
              {% if perms.usuarios.delete_actividad %}
                <a href="{% url 'baja-actividad' actividad.id %}">
                  <i class="btn btn-danger text-white btn-table mx-2 far fa-trash-alt"></i>
                </a>
              {% endif %}
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include "paginacion.html" %}

{% endblock %}