{% extends 'ss_base.html' %}

{% block socio %}
  <h1>Lista de actividades</h1>

  <form method="get">
    <div>{% csrf_token %}</div>
    {{ form }}
    <a class="btn btn-outline-secondary" href="{% url 'actividades-i' %}">Borrar</a>
    <input class="btn btn-outline-secondary" id="id_ubucacion" type="submit" value="Busacar">
  </form>

  <table class="table table-striped">
    <tr>
      <th>Instructor</th>
      <th>Piloto</th>
      <th>Remolcador</th>
      <th>Planeador</th>
    </tr>
    {% for actividad in actividades %}
      <tr
        class="user-select-none"
        style="cursor: pointer"
        onclick="location.href = `{% url 'actividad' actividad.id %}`"
      >
        <td>{{actividad.plan_de_vuelo.instructor.first_name}}</td>
        <td>{{actividad.piloto.first_name}}</td>
        <td>{{actividad.remolcador.nombre}}</td>
        <td>{{actividad.planeador.nombre}}</td>
        {% if es_instructor %}
          <td><a href="{% url 'modi-actividad' actividad.id %}"><i class="far fa-edit"></i></a></td>
          <td><a href="{% url 'baja-actividad' actividad.id %}"><i class="far fa-trash-alt"></i></a></td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>

  {% include "paginacion.html" %}

{% endblock %}