{% extends 'ss_base.html' %}
{% load planeadores_mdp_extras %}
{% load static %}

{% block extra_css %}{% render_css_defer form %}{% endblock %}
{% block script %}
  {% render_js_defer form %}
  <script src="{% static 'js/usuarios.js' %}" defer></script>
{% endblock %}

{% block socio %}
  <h1>{{titulo}}</h1>

  <form class="d-flex flex-column justify-content-between h-100" action="" method="post" onctype="multipart/form-data" novalidate>
    <div id="ctn" class="content-form">
      <div>{% csrf_token %}</div>
      {% for field in form %}
        {% include "componentes/input-form.html" with field=field extra_class="field-form" %}
      {% endfor %}
    </div>

    {% include "componentes/btn-submit.html" with boton_from=boton_from %}
  </form>
{% endblock %}