{% extends "ss_base.html" %}
{% load static %}

{% block css %}
  <link href="{% static 'css/usuarios.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block script %}
  {{ form.childrens.0.media }}
  <script src="{% static 'js/usuarios.js' %}" defer></script>
{% endblock %}

{% block socio %}
  <h3>Perfil de usuario</h3>

  {% for message in messages %}
    <div class="col order-lg-last">
      <div class="alert {{ message.tags }} alert-dismissible fade show m-1" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
      </div>
    </div>
  {% endfor %}

  <div class="profile-card mb-3">
    <div id="ctn" class="">

      <div class="profile-card-left">
        {% include "componentes/tarj-imagen.html" with object=object %}
      </div>

      <div class="profile-card-right">
        <div class="flex-fill p-3">
          <form method="post" enctype="multipart/form-data">
            <div>{% csrf_token %}</div>

            {% include "componentes/cont-formulario.html" with form=form.parent %}
            {% include "componentes/cont-formulario.html" with form=form.childrens.0 %}

            <div class="my-4">
              <a class="btn border w-100" href="{% url 'password-change' %}">Cambiar contraseña</a>
            </div>

            <hr class="mb-4" />
            <div class="d-grid gap-2 d-flex justify-content-end">
              <input class="btn btn-primary btn-form" type="submit" value="Guardar" />
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>
{% endblock %}