{% extends 'ss_base.html' %}
{% load planeadores_mdp_extras %}
{% load static %}

{% block extra_css %}{% render_css_defer form %}{% endblock %}
{% block script %}{% render_js_defer form %}{% endblock %}

{% block socio %}
  <div>
    <h1>{{titulo}}</h1>

    <form action="" method="post" onctype="multipart/form-data" novalidate>
      <div>{% csrf_token %}</div>

      {% for field in form %}
        {% if not field.is_hidden %}
          <div class="pt-1 pb-2">
              <label for="{{ field.id_for_label }}" class="form-label ps-1">
                <strong>{{ field.label }}</strong>
              </label>

              {{ field }}

              <div class="text-muted px-2 pb-1">{{ field.help_text }}</div>

            {% for error in field.errors %}
              <div class="alert alert-danger mb-1 p-2" role="alert">
                {{ error }}
              </div>
            {% endfor %}
          </div>
        {% else %}
          {{ field }}
        {% endif %}
      {% endfor %}

      <hr class="mb-4" />
      <input class="btn btn-outline-success btn-lg w-100" type="submit" value="{{boton_from}}"/>
    </form>

</div>
{% endblock %}