{% extends 'ss_base.html' %}
{% load planeadores_mdp_extras %}
{% load static %}

{% block extra_css %}{% render_css_defer form.parent %}{% endblock %}
{% block script %}
  <script src="{% static 'js/inlines.js' %}" defer></script>
  {% render_js_defer form.parent %}
  {% render_js_defer form.inline %}
{% endblock %}

{% block socio %}
  <h1>{{titulo}}</h1>

  <form action="" method="post" onctype="multipart/form-data" novalidate>
    <div>{% csrf_token %}</div>

    {% for field in form.parent %}
      {% if not field.is_hidden %}
        {% include "componentes/input-form.html" with field=field %}
      {% else %}
        {{ field }}
      {% endif %}
    {% endfor %}

    <div class="mt-3">
      <span class="mx-1"><b>Actividades</b></span>

      <div class="d-grid gap-2 d-flex justify-content-end my-2">
        <Button class="btn btn-outline-secondary w-100" type="button" onclick="inserForm()">
          Agregar Actividad
        </Button>
      </div>
  
      <div id="management_form_id" class="visually-hidden">
        {{form.inline.management_form}}
      </div>
      <div id="empty_form" class="visually-hidden">
        {% for field in form.inline.empty_form %}{{ field }}{% endfor %}
      </div>

      <table id="inline_formset" class="table table-striped mb-auto">
        <thead>
          <tr>
            {% for field in form.inline.empty_form %}
              {% if not field.is_hidden%}
                <th class="text-center align-middle">{{field.label}}</th>
              {% endif %}
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for form_inline in form.inline.forms %}
            <tr>
              {% for field in form_inline %}
                {% if not field.is_hidden %}
                  <td class="text-center align-middle">{{field}}</td>
                {% else %}
                  {{ field }}
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% include "componentes/btn-submit.html" with boton_from=boton_from %}
  </form>
{% endblock %}