.timepicker {
    position: relative;
    display: inline-block;
}

.timepicker-content {
    --space: 0.60rem;
    position: absolute;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 0.375rem;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);
    margin-top: calc(0.90 * var(--space));
    padding: calc(0.75 * var(--space)) var(--space);
    z-index: 1000;
}

.triangle {
    width: var(--space);
    height: var(--space);
    background-color: white;
    transform: rotate(45deg);
    translate: 0 calc(-1.375 * var(--space));
    border-top: 1px solid rgba(0, 0, 0, 0.175);
    border-left: 1px solid rgba(0, 0, 0, 0.175);
}

.mp--0 {
    margin-top: -1rem !important;
}

.time {
    width: 2.5rem;
    height: 2.5rem;
}