{% extends "base.html" %}
{% load static %}

{% block css %}
  <link href="{% static 'css/seguridad.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block contenido %}
  <div class="container">
    <div class="row mt-3">
      <form method="post" class="col-md-9 mx-auto mb-5">{% csrf_token %}
        <h3 class="mb-4">Cambio de contraseña</h3>
        <p>Por favor, introduzca su contraseña antigua por seguridad, y después introduzca dos veces la nueva contraseña para verificar que la ha escrito correctamente.</p>

        {{form.old_password.errors}}
        <p><input type="password" name="old_password" autofocus="" required="" id="id_old_password" class="form-control" placeholder="Contraseña antigua"></p>

        {{form.new_password1.errors}}
        <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Contraseña nueva"></p>

        {{form.new_password2.errors}}
        <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Contraseña nueva (confirmación)"></p>

        <div class="d-grid gap-2 d-flex justify-content-end">
          <a class="btn btn-primary btn-form" href="{% url 'editar_perfil' %}">Volver</a>
          <input type="submit" class="btn btn-primary btn-block" value="Cambiar mi contraseña">
        </div>

      </form>
    </div>
  </div>
{% endblock %}