html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow-y: scroll;
}

main {
  flex: 1;
}

/* ------------- Estilo Base -------------- */

/* Fondo */
.fondo{
  display: block;
  margin: 0 auto;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed; /* asegura que la imagen se mantenga en el fondo */
  top: 0;
  left: 0;
  z-index: -1; /* establece el z-index detrás de los demás elementos */
}
/* Menu */
.logo {
  margin: 1px 0;
  width: 2.5rem;
  height: 2.5rem;
}

/* Navbar */
.white li a {
  font-size: 24px; /* Cambia el tamaño de fuente a tu preferencia */
  color: #fff; /* Cambia el color del texto a blanco */
}

/* Footer */
.facebook-color {
  background-color: #3b5998 !important;
}

.google-color {
  background-color: #dd4b39 !important;
}

.instagram-color {
  background-color: #ac2bac !important;
}

.copyright-color {
  background-color: #00000033 !important;
}

.btn-primary {
  background-color: #2553b8 !important;
  color: white !important;
}

.btn-primary:hover {
  background-color: #16326e !important;
  color: white !important;
}

/* ------------- Estilo Home -------------- */

/* carousel */
.carousel_img {
  display: block;
  margin: 0 auto;

  object-fit: cover;
  aspect-ratio: 21/9;
  width: 100%;
}
