html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  /* overflow-y: scroll; */
}

main {
  flex: 1;
}

/* ------------- Estilo Base -------------- */

/* herramientas */
.fake-content {
  background-color: gainsboro;
  width: 100%;
  height: 200vh;
}


/* Fondo */
.fondo {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

/* Menu */
.logo {
  margin: 1px 0;
  width: 2.5rem;
  height: 2.5rem;
}

@media (min-width:992px) {
  .logo {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.navbar-color {
  background-color: rgb(77, 93, 113) !important;
}

a.nav-link {
  font-size: 1.5rem;
}

a.nav-link.active {
  color: #24d9fe !important;
  font-weight: 600;
}

a.nav-link.active:hover {
  color: #81eaff !important;
}

/* Footer */
.facebook-color {
  background-color: #3b5998 !important;
}

.google-color {
  background-color: #dd4b39 !important;
}

.instagram-color {
  background-color: #ac2bac !important;
}

.copyright-color {
  background-color: #00000033 !important;
}

.btn-primary {
  background-color: #2553b8 !important;
  color: white !important;
}

.btn-primary:hover {
  background-color: #16326e !important;
  color: white !important;
}

/* ------------- Estilo Home -------------- */

/* carousel */
.carousel_img {
  display: block;
  margin: 0 auto;

  object-fit: cover;
  aspect-ratio: 21/9;
  width: 100%;
}