{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <title>{% block titulo %} {% endblock %}</title>

    <link href="{% static 'css/planeadores_mdp.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  </head>

  <body>
    <header>{% include "componentes/header.html" %}</header>
    <main>{% block content %}{% endblock %}</main>
    <footer>{% include "componentes/footer.html" %}</footer>
  </body>

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</html>
