{% extends 'base.html' %}
{% load static %}

{% block titulo %} Contacto {% endblock %}

{% block content %}
  <div class="d-flex flex-column d-lg-flex flex-lg-row w-75 mx-auto contacto mt-5">

    <div class="col-12 col-lg-7">
      <h2 class="my-2 mx-sm-3 mx-xl-5">Contactenos</h2>

      <form method="POST" class="m-5 mx-sm-3 mx-xl-5">
        {% csrf_token %}
        {% for field in form %}
          <strong class="m-0 p-0">{{field.label}}</strong>
          {{field}}
        {% endfor %}

        <input class="btn btn-primary btn-form" type="submit" value="Enviar Mensaje">
        <!-- <button class="btn btn-primary btn-form" type="submit" value="Submit">Enviar</button> -->
      </form>
    </div>

    <div class="col-12 col-lg-5">
      Cha Cha Cha, aca va un mapa, pero se me olvido como se le sacan las advertencias al google map
    </div>

  </div>

  <div class="d-flex flex-row w-75 mx-auto mt-5 justify-content-evenly">
    <div class="">
      <div class="contacto-icono">
        <img src="{% static 'img/geo-alt-fill.svg' %}" alt="...">
      </div>

      <div class="text-center">
        <strong>Dirección:</strong> algun lugar
        <p>Mar del Plata</p>
      </div>
    </div>

    <div>
      <div class="contacto-icono">
        <img src="{% static 'img/telephone-fill.svg' %}" alt="...">
      </div>

      <div class="text-center">
        <strong>Telefono:</strong> 123456789
      </div>
    </div>

    <div>
      <div class="contacto-icono">
        <img src="{% static 'img/send-fill.svg' %}" alt="...">
      </div>

      <div class="text-center">
        <strong>E-mail:</strong> pmdp@email.com
      </div>
    </div>
  </div>

{% endblock %}

{% comment %}

podriamos poner:

. navbar
. Mapa iframe
. Formulario de contacto
. Preguntas frecuentes
. Footer

{% endcomment %}