{% extends 'base.html' %}
{% load static %}

{% block titulo %}
  <title>Club de Planeadores de Mar del Plata</title>
{% endblock %}

{% block img_fondo %}<img id="imgfond" src="{% static 'img/home.jpg' %}" alt="imagen de fondo" class="fondo">{% endblock %}

{% block contenido %}
  <div class="title">
    <h1>Nuestra historia</h1>    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus doloribus fuga iusto accusamus facilis incidunt a architecto recusandae dignissimos quia, maiores qui minus vel ullam laudantium quas dicta, blanditiis natus.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, amet distinctio esse accusantium quo ab aut voluptates alias id eos praesentium eveniet atque soluta corporis. Obcaecati assumenda voluptatem eos blanditiis?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, expedita, animi incidunt commodi, ab perspiciatis delectus magnam quo est illo vel veritatis placeat? Perferendis voluptatem omnis tempora? Totam, eaque quia.</p>
  </div>

  <div class="container">
    <div class="card">
      <figure>
        <img class="logo" src="{% static 'img/aeronaves/home-pic1.jpg' %}" alt="...">
      </figure>
      <div class="contenido">
        <h3>Vuelo a Vela</h3>
        <p>Es un deporte apasionante y competitivo basado en la capacidad de mantenerse volando en un planeador, sin motor ni métodos de propulsión, aprovechando la aerodinámica del avión y las corrientes del aire. Los planeadores deben ser remolcados por una avioneta hasta una cierta altura, a partir de ese momento el velero queda libre y el piloto tiene el desafío de volar sobre las corrientes ascendentes intentando mantenerse el mayor tiempo posible volando. La Federación Aeronáutica Internacional (FAI) organiza campeonatos mundiales de este deporte. En el aeroclub se dicta el curso de piloto planeador, para quien quiera iniciarse en este deporte.</p>
        <a href="#">+ Info</a>
      </div>
    </div>

    <div class="card">
      <figure>
        <img class="logo" src="{% static 'img/aeronaves/home-pic2.jpg' %}" alt="...">
      </figure>
      <div class="contenido">
        <h3>Volar sobre el mar</h3>
        <p>El vuelo en avión propulsado mecánicamente tal como lo conocemos hoy se empezó a gestar a principios del siglo XX, y tuvo un avance muy acelerado, ya que en menos de un siglo logró convertirse en una de las industrias más importantes del mundo, en la cual millones de pasajeros y toneladas de carga son transportados hacia grandes distancias reduciendo el tiempo de viaje en muy poco tiempo. Nuestro club ofrece actividades especialmente diseñada para aquellos amantes de la aviación, contamos con una flota importante de aeronaves especialmente preparada para sentir la adrenalina junto con instructores altamente capacitados.</p>
        <a href="#">+ Info</a>
      </div>
    </div>

    <div class="card">
      <figure>
        <img class="logo" src="{% static 'img/aeronaves/home-pic3.jpg' %}" alt="...">
      </figure>
      <div class="contenido">
        <h3>Sumate al Club</h3>
        <p>El Aeromodelismo es una afición y un deporte derivado de la técnica de construcción y vuelo de aeroplanos de pequeño, mediano y gran tamaño, llamados Aeromodelos, que han sido preparados para volar sin tripulación. Los aeromodelos suelen hacerse a escala, bien como réplica lo más exacta posible de otros existentes, exclusivamente para aeromodelismo o incluso, diseños de prueba para futuros aviones. Es considerado un muy buen deporte para iniciarse en la actividad aeronáutica. En el país el deporte es representado por la Federación Argentina de Aeromodelismo. En el aeroclub se practica esta actividad por parte de la subcomisión de aeromodelismo.</p>
        <a href="#">+ Info</a>
      </div>
    </div>
  </div>
  {% endblock %}

{% comment %}
  . navbar
  . Carrousel con imagenes o un banner
  . Que servicios ofrecemos
  . breve historia del club
  . Galeria de imagenes? opcional
  . Footer
{% endcomment %}