{% extends 'base.html' %}
{% load static %}

{% block img_fondo %}<img id="imgfond" src="{% static 'img/institucion.jpg' %}" alt="imagen de fondo" class="fondo">{% endblock %}

{% block contenido %}
<div class="container-institucion">
    <h1>Vuelo de Bautismo en Planeador</h1>
    <p>
      Todos los sábados, domingos y feriados del año podes experimentar la maravillosa sensación de volar en planeador. <br><br>
      Volarás en uno de nuestros planeadores Biplaza, al mando de un piloto de reconocida experiencia. <br><br>
      Un avión de remolque te llevará a una altura considerable de 500mts y allí emprenderá un apacible vuelo, y si las condiciones meteorológicas lo permiten el piloto encontrará alguna corriente de aire ascendente c(térmica) y te permitirá comprobar el vuelo a vela en un vehículo más pesado que el aire y sin motor, el vuelo terminará con un suave aterrizaje en nuestra pista. <br>
    </p>
    <br>
    <br>
    <h3>Requisitos</h3>
    <br>
    <ul>
      <li>Ser mayor de edad</li>
      <li>Edad mínima de 15 años y 9 meses</li>
      <li>Asociarse al Club Argentino de Planeadores de Mar del Plata</li>
      <li>Los menores de edad (menos de 18 años) deberán contar con una autorización de los padres certificada ante un escribano y poseer la Certificación Médica Aeronáutica (CMA) que es un examen psicofísico</li>
      <li>Aprobar el examen psicofísico de alumno de piloto de planeador, el cual se puede efectuar en el Instituto Nacional de Medicina Aeroespacial (INMAE), en Médicos Examinadores Aeronáuticos (AME) o en el Centros Médicos Aeronáuticos Examinadores (CMAE).</li>
    </ul>
    <br>
    <br>
    <h3>Vestimenta Sugerida</h3>
    <p>
      Vestirse con ropa cómoda en verano, preferiblemente zapatillas, bermudas o shorts, remeras claras, gorro, anteojos de sol, utilizar protector solar y repelente para insectos. <br>
      En invierno vestirse con ropa abrigada, preferiblemente borceguíes o zapatillas de trecking impermeables, gorro, anteojos de sol, utilizar protector solar y repelente para insectos. 
    </p>
    <button class="button">Escribeme</button>
    <img src="{% static 'img/aeronaves/home-pic1.jpg' %}" alt="imagen de fondo" class="fondo imgfond">
  </div>

<div class="container-institucion">
  <h1>Curso de Piloto de Planeador</h1>
    <p>El curso se lleva a cabo los fines de semana, sobre todo, los sábados y los domingos, tanto por la mañana como por la tarde mientras que las condiciones climáticas sean favorables. Se lleva a cabo con un mínimo de tres alumnos por brigada y a cada una se le asigna un planeador biplaza con su instructor debidamente acreditado. <br><br>
      El curso consta de aproximadamente 50 remolques, se realizan 2 o 3 remolques por día de clase práctica. Promediando el curso, una vez que el alumno haya adquirido la capacidad y los conocimientos necesarios para conducir el planeador en forma eficiente y segura, adquiere el título “Primer Vuelo Solo”. <br><br>
      El curso se complementa con instrucción teórica, que incluye la teoría del vuelo en aparatos más pesados que el aire, teoría del vuelo a vela, micro meteorología, normas aeronáuticas, manuales de vuelo de los planeadores utilizados. <br><br>
      Una vez aprobado el curso, el club solicita el examen respectivo y un inspector, en fecha prefijada, concurre al club para tomar el mismo. Con su aprobación se emite una licencia provisoria, que posteriormente es reemplaza por la licencia definitiva de “Piloto de Planeador” de validez internacional. <br><br>
    </p>
    <br>
    <br>
    <h3>Requisitos</h3>
    <br>
    <ul>
      <li>Ser mayor de edad</li>
      <li>Edad mínima de 15 años y 9 meses</li>
      <li>Asociarse al Club Argentino de Planeadores de Mar del Plata</li>
      <li>Los menores de edad (menos de 18 años) deberán contar con una autorización de los padres certificada ante un escribano y poseer la Certificación Médica Aeronáutica (CMA) que es un examen psicofísico</li>
      <li>Aprobar el examen psicofísico de alumno de piloto de planeador, el cual se puede efectuar en el Instituto Nacional de Medicina Aeroespacial (INMAE), en Médicos Examinadores Aeronáuticos (AME) o en el Centros Médicos Aeronáuticos Examinadores (CMAE).</li>
    </ul>
    <br>
    <br>
    <h3>Vestimenta Sugerida</h3>
    <p>
      Vestirse con ropa cómoda en verano, preferiblemente zapatillas, bermudas o shorts, remeras claras, gorro, anteojos de sol, utilizar protector solar y repelente para insectos. <br>
      En invierno vestirse con ropa abrigada, preferiblemente borceguíes o zapatillas de trecking impermeables, gorro, anteojos de sol, utilizar protector solar y repelente para insectos. 
    </p>
    <button class="button">Escribeme</button>
</div>
{% endblock %}

