{% extends 'base.html' %}
{% load static %}

{% block img_fondo %}<img src="{% static 'img/institucion.jpg' %}" alt="imagen de fondo" class="fondo">{% endblock %}

{% block contenido %}
  <div class="container1-institucion">
    <br>
    <h1>Nuestra Historia</h1>
    <br>
    <br>
    <div class="container2-institucion">
      <img src="{% static 'img/institucion-pic.jpg' %}" alt="Descripción de la imagen">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus doloribus fuga iusto accusamus facilis incidunt a architecto recusandae dignissimos quia, maiores qui minus vel ullam laudantium quas dicta, blanditiis natus.
      <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, amet distinctio esse accusantium quo ab aut voluptates alias id eos praesentium eveniet atque soluta corporis. Obcaecati assumenda voluptatem eos blanditiis?
      <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, expedita, animi incidunt commodi, ab perspiciatis delectus magnam quo est illo vel veritatis placeat? Perferendis voluptatem omnis tempora? Totam, eaque quia.</p>
    </div>
  </div>
  <br>
  <br>
  <h1>Vivi la Experiencia de Volar</h1>
  <br>
  <br>
  <div class="container2-institucion">
    <img src="{% static 'img/institucion-pic2.jpg' %}" alt="Descripción de la imagen">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus doloribus fuga iusto accusamus facilis incidunt a architecto recusandae dignissimos quia, maiores qui minus vel ullam laudantium quas dicta, blanditiis natus.
    <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, amet distinctio esse accusantium quo ab aut voluptates alias id eos praesentium eveniet atque soluta corporis. Obcaecati assumenda voluptatem eos blanditiis?
    <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, expedita, animi incidunt commodi, ab perspiciatis delectus magnam quo est illo vel veritatis placeat? Perferendis voluptatem omnis tempora? Totam, eaque quia.</p>
  </div>
{% endblock %}

{% comment %} 

podriamos poner: 
. navbar
. imagenes
. breve descripcion de lo que seria la escuela institucional, explorativas
. tarifa de los servicios
. footer

{% endcomment %}
