{% extends 'base.html' %}
{% load static %}

{% block img_fondo %}<img id="imgfond" src="{% static 'img/home.jpg' %}" alt="imagen de fondo" class="fondo">{% endblock %}

{% block contenido %}
  <div>
    <h1>Lista de actividades</h1>
    {% for actividad in actividades %}
      <div>
        <div>
          <ul>
            <li>Instructor nombre: {{actividad.instructor.nombre}}</li>
            <li>Piloto apellido: {{actividad.piloto.apellido}}</li>
            <li>Avion remolcador nombre: {{actividad.remolcador.nombre}}</li>
            <li>planeador nombre: {{actividad.planeador.nombre}}</li>
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}