{% comment %}
<a href="{% url 'home' %}" class="d-flex link-body-emphasis text-decoration-none">
  <i class="bi fa-2x fab fa-bootstrap me-2"></i>
  <span class="fs-4">Sidebar</span>
</a>
{% endcomment %}

{% comment %}<hr>{% endcomment %}

<div class="mt-0 mb-auto">
  <ul class="navbar-left nav nav-pills d-flex flex-column">
    {% if es_instructor %}
      <li class="nav-item">
        <a href="{% url 'alta_actividad' %}" class="nav-link sidebar-link link-body-emphasis">
          <i class="fas fa-home"></i>
          <span>Alta Actividad</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'actividades_instructor' %}" class="nav-link sidebar-link link-body-emphasis">
          <i class="fab fa-product-hunt"></i>
          <span>Lista de Actividades</span>
        </a>
      </li>
    {% endif %}

    {% if es_piloto %}
      <li class="nav-item">
        <a href="{% url 'actividades_piloto' %}" class="nav-link sidebar-link link-body-emphasis">
          <i class="fab fa-product-hunt"></i>
          <span>Lista de Actividades</span>
        </a>
      </li>
    {% endif %}

  </ul>
</div>

<hr>

<div class="collapse" id="account-collapse">
  <ul class="toggle-nav list-unstyled fw-normal pb-1 small">
    <li>
      <a href="{% url 'perfil' %}" class="link-dark text-decoration-none">
        <i class="far fa-address-card"></i>
        <span>Perfil</span>
      </a>
    </li>
    <li>
      <a href="{% url 'editar_perfil' %}" class="link-dark text-decoration-none">
        <i class="far fa-address-card"></i>
        <span>EditarPerfil</span>
      </a>
    </li>
    <li>
      <a href="{% url 'logout' %}" class="link-dark text-decoration-none">
        <i class="fas fa-sign-out-alt"></i>
        <span class="d-inline-block"></i>Cerrar Sesión</span>
      </a>
    </li>
  </ul>
</div>

<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse"
  data-bs-target="#account-collapse" aria-expanded="false">
  <span>Cuentas</span>
</button>
