/* ------------- Estilo ss_base -------------- */
main {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: 0;
}

/* ------------- Estilo Sidebar -------------- */
:root {
    --marg--btn-extra: 20px;
    --zise--btn-extra: 50px;
    --size-sidebar: 300px
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-right: 1px solid #dee2e6;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    padding: 1rem;
    width: var(--size-sidebar);
    transition: width 0.25s linear !important;
}

.toggle-nav, .navbar-left {
    width: 230px; /*a ojo*/
}

.btn-menu {
    background-color: white;
    width: var(--zise--btn-extra);
    height: var(--zise--btn-extra);
    margin: var(--marg--btn-extra);
    margin-top: calc(-1 * var(--marg--btn-extra) - var(--zise--btn-extra));
}

/* ------------- Estilo Profile -------------- */
.profile-card {
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-card-left {
    padding-bottom: 1rem;
    background-color: rgb(200, 200, 200);
    border-radius: 0.375rem 0 0 0.375rem;
}

.profile-card-image {
    width: 200px;
    height: 200px;
}

.horizontal, .vertical {
    display: flex;
}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction: column;
}

.profile-card-left, .profile-card-right {
    flex: 0 0 auto;
}

.horizontal .profile-card-left {
    width: 33.33333333%
}

.horizontal .profile-card-right {
    width: 66.66666667%
}

.vertical .profile-card-left,
.vertical .profile-card-right {
    width: 100%
}

/* ------------- Estilo Tablas -------------- */
.row-table:hover {
    background-color: #dee2e6;
}

.btn-table {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    width: 30px;
    height: 30px;
}

.checkbox-select-multiple {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: 6.09375rem;
    color: #212529;
    word-wrap: break-word;
    background-color: fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 0.375rem;
    padding: 2.5px;
    overflow: scroll;
    overflow-y: scroll;
}

.checkbox-select-multiple div label {
    display: flex;
    flex-direction: row;
    margin: 2.5px;
    background-color: #dee2e6;
}

.checkbox-select-multiple div label input {
    height: 1.5625rem;
    margin-left: 10px;
    margin-right: 10px;
}