<div class="d-flex flex-row">
    <div class="input-group mb-3">
        <button class="btn btn-secondary" type="button" onclick="up_hour('id_{{ widget.name }}')">
            <i class="fas fa-angle-left"></i>
        </button>

        <span class="input-group-text" style="width: 65px;">Hora</span>
        <span id="id_{{ widget.name }}_hour" class="form-control">{{widget.hour}}</span>

        <button class="btn btn-secondary" type="button" onclick="down_hour('id_{{ widget.name }}')">
            <i class="fas fa-angle-right"></i>
        </button>
    </div>

    <div class="mx-2"></div>

    <div class="input-group mb-3">
        <button class="btn btn-secondary" type="button" onclick="up_min('id_{{ widget.name }}')">
            <i class="fas fa-angle-left"></i>
        </button>

        <span class="input-group-text" style="width: 65px;">Min</span>
        <span id="id_{{ widget.name }}_min" class="form-control">{{widget.min}}</span>

        <button class="btn btn-secondary" type="button" onclick="down_min('id_{{ widget.name }}')">
            <i class="fas fa-angle-right"></i>
        </button>
    </div>

    <input
        id="id_{{ widget.name }}"
        name="{{ widget.name }}"
        value="{{ widget.value }}"
        type="text"
        time-picker="simple"
        style="display:none"
        {% include "django/forms/widgets/attrs.html" %}
    >
</div>
