<div class="timepicker mb-3 w-100">
  <div class="input-group">
    <input
      id="id_{{ widget.name }}"
      name="{{ widget.name }}"
      value="{{ widget.value }}"
      type="text" readonly
      class="form-control dropdown"
      onclick="showTimepicker(this)"
      onshow="showTimepicker(this)"
      {% include "django/forms/widgets/attrs.html" %}
    >

    <label for="id_{{ widget.name }}" class="btn btn-outline-secondary">
      <i class="fas fa-clock"></i>
    </label>
  </div>

</div>
